{% extends 'redline_car/base.html' %}

{% block content %}
{% load static %}
<header class="masthead">
    <img src="{% static 'redline_car/assets/Logo_Souris_Redline.png' %}" class="scroll fixed-bottom mx-auto">
</header>
<section class="page-section" id="contact">
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 col-xl-6 text-center">
          {% if form.errors %}
            <p>Your email and password didn't match. Please try again.</p>
          {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Login</div>
                        <div class="panel-body mt-2">
                            {% if error_message %}
                                <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                            {% endif %}
                            <div class="form-group clearfix mt-2">
                                <label for="email" class="col-md-4 control-label text-center">Email:</label>
                                <div class="col-md-6 col-lg-offset-4">
                                    <input name="email" value="" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group clearfix mt-2">
                                <label for="password" class="col-md-4 control-label text-center">Password:</label>
                                <div class="col-md-6 col-lg-offset-4">
                                    <input name="password" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-4 mt-2">
                                <input name="login" type="submit" value="Login" class="btn btn-success" /> &nbsp;
                                <a href="{% url "sign_up" %}">Ou s'inscrire</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</section>

{% endblock %}