{% extends 'redline_car/base.html' %}

{% block content %}
<header class="masthead">
</header>
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
      <h2>Sign up</h2>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-inline-flex">
              <p>Id discord (exemple: pseudo#1234)</p>
              <input name="discord_id" value="" type="text" class="form-control" /><br>
          </div>
          <button type="submit">Sign up</button>
      </form>
    </div>
</section>
{% endblock %}