{% extends 'redline_car/base.html' %}
{% block content %}
{% load static %}
        <!-- Masthead-->
        <header class="masthead">
            <img src="{% static 'redline_car/assets/Logo_Souris_Redline.png' %}" class="scroll fixed-bottom mx-auto">
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Toutes vos envies en une recherche</h2>
                        <form class="form-inline my-2 my-lg-0">
                            <input
                                    class="form-control mr-sm-2"
                                    type="search"
                                    placeholder="Nom véhicule"
                                    aria-label="Search"
                                    name="query"
                            >
                            <button class="btn btn-primary btn-sm" type="submit">Rechercher</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7">
                        <img
                                class="img-fluid mb-3 mb-lg-0"
                                src="{% static 'redline_car/assets/img/redline_logo.png' %}"
                                alt="Logo Redline"
                                width="200px"
                        />
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>La Redline</h4>
                            <p class="text-black-50 mb-0">Une entreprise de renomée internationnale</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6">
                        <img
                                class="img-fluid"
                                src="{% static 'redline_car/assets/img/requin2.png' %}"
                                alt="photo d'équipe" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Une équipe</h4>
                                    <p class="mb-0 text-white-50">Une équipe compétente et passionée.</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6">
                        <img
                                class="img-fluid"
                                src="{% static 'redline_car/assets/img/vehicule_exception.jpg' %}"
                                alt="Vehicule d'exception" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Catalogue</h4>
                                    <p class="mb-0 text-white-50"> Des véhicules d'exceptions n'attendent que vous!</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
