{% extends 'redline_car/base.html' %}
{% block content %}
{% load static %}
<!-- Masthead-->
<header class="masthead">
    <img src="{% static 'redline_car/assets/Logo_Souris_Redline.png' %}" class="scroll fixed-bottom mx-auto">
</header>
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p>Développeur:</p>
            </div>
            <div class="col-lg-3">
                <p>Le Shtroumpf</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p>Discord:</p>
            </div>
            <div class="col-lg-3">
                <p>Le Schtroumpf#6750</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p>Coordonnées de l'hébergeur:</p>
            </div>
            <div class="col-lg-3">
                <p>
                    Digital Ocean<br>
                    101 Avenue of the Americas<br>
                    10th floor<br>
                    New York<br>
                    NY 10013<br>
                    United States of America<br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p>Template utilisé:</p>
            </div>
            <div class="col-lg-3">
                <a href="https://startbootstrap.com/theme/grayscale">Grayscale</a>
            </div>
        </div>
    </div>

</section>

{% endblock %}